.clock_container {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame_container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
}

.clock_frame {
  width: 450px;
  height: 450px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  -webkit-app-region: no-drag;
}

.Move {
  position: absolute;
  z-index: 9999;
  background-color: white;
  -webkit-app-region: drag;
  margin-right: 90px;
}
